.main-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--heading-height);
  z-index: var(--z-normal);
  background-color: var(--color-body-bg);
}
.wrapper-footer {
  align-items: center;
  grid-gap: 1.5em;
}
.main-section-footer {
  // padding: 0 3em;
}
.text-footer {
  // font-size: var(--h2-font-size);
}
.main-section-footer {
  width: 100%;
}
