.main-footer {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--heading-height);
  z-index: var(--z-normal);
  background-color: var(--bg-color-dark);
}
.wrapper-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  align-items: center;
  max-width: 92em;
  width: 100%;
}

.text-footer {
  display: flex;
  align-content: center;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  letter-spacing: 2px;
}
