.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--heading-height);
  z-index: var(--z-normal);
  background-color: var(--color-body-bg);
}

.main-section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-footer {
  font-size: var(--h3-font-size);
}
.main-section-footer {
  width: 100%;
}
