/* Navigation */
.main-header {
  grid-template-columns: 1fr max-content;
  align-items: center;
  height: var(--heading-height);
}

.title-primary {
  margin: 0;
}

.menu_icon {
  width: 2em;
  height: 2em;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
}
.menu_icon__span {
  display: block;
  width: 100%;
  height: 0.25em;
  border-radius: 0.25em;
  background-color: var(--color-dark-bg);
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-gap: 0.5em;
  width: 100%;
  height: 100vh;
  background-color: var(--color-accent-dark);
  padding: 2em;
  z-index: var(--z-modal);
  transform: translateX(-100%);
  transition: 0.2s ease;
  overflow-y: auto;
}

.show_menu {
  transform: translateX(0);
}
.menu_icon__span_X {
  position: absolute;
  background-color: var(--color-text);

  &:nth-child(1) {
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    transform: rotate(-45deg);
  }
}
.list-nav {
  display: flex;
  flex-direction: column;
}
.item-list-nav {
  border-bottom: 1px solid var(--color-text);
  &:last-child {
    border-bottom: none;
  }
}

.link-item-list-nav {
  padding: 2em 0;
  color: var(--color-text);
  transition: all 0.15s ease;

  &:hover,
  &:focus {
    color: var(--color-first);
  }
}
