.wrap-search-icons {
  width: 100%;
}
.label-search {
  position: relative;
}

.input-search {
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: 1em;
  font-weight: 400;
  width: 12.5em;
  border: 3px solid hsl(0, 0%, 85%);
  border-radius: 2em;
  padding: 1em 3em;
  transition: 0.2s;
  &:focus {
    border: 3px solid var(--color-second);
    width: 100%;
  }
  &::selection {
    color: var(--color-text);
    background-color: var(--color-first);
  }
}

.icon-input-search {
  width: 1.25em;
  position: absolute;
  top: 0;
  left: 1em;
  filter: contrast(0%);
}
