h2 {
  font-size: 2.5em;
  font-family: var(--heading-font);
  padding-bottom: 0.5em;
  color: $color-text;
}

.label-search {
  position: relative;
}

.input-search {
  color: var(--dark-color-text);
  font-family: $font;
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  border: 3px solid hsl(0, 0%, 85%);
  border-radius: 0.25em;
  padding: 1em 2.5em;

  &:focus {
    border: 3px solid $color-2;
  }
  &::selection {
    color: #fff;
    background-color: $color;
  }
}

.icon-nput-search {
  width: 1em;
  position: absolute;
  top: 0;
  left: 1em;
}

.wrap-icons-grid {
  // border: 2px solid rgb(72, 255, 0);
  width: 100%;
  height: 100%;
  position: relative;
  margin: 2em 0;
}

.searh-list-icon {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap);
  // border: 2px solid red;
  max-width: 1300px;
  margin: 0 auto;
}

.download-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: $color-text;
  background-color: var(--color-body-bg);
  font-family: $font;
  border-radius: var(--border-radius);
  transition: 0.15s;
  border: 3px solid rgb(255, 255, 255);

  &:hover {
    background-color: white;
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.1);
  }
  &:active {
    border: 3px solid var(--color-first);
    box-shadow: none;
  }
  &:hover .spam-item::after {
    transform: scaleX(1);
  }
}

.img-item {
  width: 2em;
  margin: 1em 0;
}
.spam-item {
  position: relative;
  color: var(--dark-color-text);
  font-size: var(--small-font-size);
  font-weight: 200;
  font-family: var(--body-font);

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-first);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.2s;
  }
}

/* Icono no encontrado / Icon not found */

.notFound {
  // border: 3px solid hsl(239, 100%, 50%);
  position: absolute;
  display: block;
  // padding-left: 0.5em;
  font-family: $font;
  color: var(--color-second);
  font-size: 2em;
  font-weight: 400;
  animation: text_color 2s ease-in-out infinite;
}
