/* Label and input search */
.label-search {
  position: relative;
}

.input-search {
  color: var(--dark-color-text);
  font-family: var(--body-font);
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  border: 3px solid hsl(0, 0%, 85%);
  border-radius: 0.25em;
  padding: 1em 3em;
  &:focus {
    border: 3px solid $color-2;
  }
  &::selection {
    color: #fff;
    background-color: $color;
  }
}

.icon-input-search {
  width: 1.5em;
  position: absolute;
  top: 0;
  left: 1em;
  filter: contrast(0%);
}

/* Wrappers for icons*/

.wrap-icons-grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.searh-list-icon {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap);
  max-width: 65em;
  margin: 0 auto;
}

.wrap-download {
  position: relative;
  width: 100%;
  color: $color-text;
  background-color: var(--color-body-bg);
  font-family: var(--body-font);
  border-radius: var(--border-radius);
  border: 3px solid transparent;
  transition: 0.1s;

  &:hover {
    background-color: white;
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }
  &:active {
    border: 3px solid var(--color-first);
    box-shadow: none;
    transform: scale(1);
  }
  &:hover .spam-item::after {
    transform: scaleX(1);
  }
}
.download-item {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.wrap-icon {
  display: grid;
  grid-template-columns: max-content auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em;
}

.img-item {
  width: 2em;
  margin: 1em 0;
}
.spam-item {
  position: relative;
  display: block;
  color: var(--dark-color-text);
  font-size: var(--small-font-size);
  font-weight: 200;
  font-family: var(--body-font);

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-first);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.2s;
  }
}

/* Icono no encontrado / Icon not found */

.notFound {
  position: absolute;
  top: 1em;
  left: 0;
  display: block;
  // padding-left: 0.5em;
  font-family: var(--body-font);
  color: var(--color-second);
  font-size: 2em;
  font-weight: 400;
  animation: text_color 2s ease-in-out infinite;
}
