/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .searh-list-icon {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}
