/* Icono no encontrado / Icon not found */

.notFound {
  text-align: left;
  width: 300px;
  left: 0;
  display: block;
  font-family: var(--body-font);
  color: var(--color-second);
  font-size: 2em;
  font-weight: 400;
  animation: text_color 2s ease-in-out infinite;
}
