/* Typography */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}

p {
  margin-bottom: 0.75em;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-primary {
  color: var(--color-primary);
}

a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
