:root {
  /*--- Typography variables ---*/
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Comfortaa", cursive;

  /*--- Sizes variables ---*/
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.75rem;
  --heading-height: 4.5em;
  --body-line-height: 1.6;
  --border-radius: 0.25rem;
  --gap: 1.5rem;

  /*--- Colors variables ---*/
  --color-first: hsl(204, 100%, 50%);
  --first-color: var(--color-first);

  --color-second: hsl(190, 60%, 50%);
  --second-color: var(--color-second);

  --color-accent: hsl(220, 54%, 45%);
  --first-color: var(--color-accent);

  --color-accent-dark: hsl(219, 54%, 27%);
  --second-color: var(--color-accent-dark);

  --color-text: hsl(0, 0%, 100%);
  --text-color: var(--color-text);

  --dark-color-text: hsl(0, 0%, 30%);
  --dark-text-color: var(--dark-color-text);

  --color-body-bg: hsl(0, 0%, 95%);
  --body-bg: var(--color-body-bg);

  --color-dark-bg: hsl(0, 0%, 15%);
  --bg-color-dark: var(--color-dark-bg);

  /*--- Z-index variables ---*/
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
