header.main-header.max-w_padding
  h1.title-primary Free icons SVG
  
  -var i = 3
  .menu_icon#menu_icon
    -while(i--)
      span.menu_icon__span
        
  nav.main-nav#main_nav
    -var i = 2
    .menu_icon.menu_icon_X#menu_icon_X
      -while(i--)
        span.menu_icon__span.menu_icon__span_X
    - 
     var pages = [
      {
       title: 'My online CV',
       url: 'https://javiluli.github.io/my-online-cv/',
      },
      {
       title: 'Buttons',
       url: 'https://javiluli.github.io/hover-animations-btn/',
      },
      {
       title: 'Checkbox',
       url: 'https://javiluli.github.io/custom-animated-checkbox/',
      },
      {
       title: 'Photo gallery',
       url: 'https://javiluli.github.io/photo-gallery/',
      },
      {
       title: 'GitHub',
       url: 'https://github.com/javiluli/icons-svg',
      }
     ]
    
    ul.list-nav
     each page in pages
      li.item-list-nav
       a(href= page.url, target='_blank').link-item-list-nav= page.title
       
