main.main.max-w_padding
  hr
  section.wrapper-section
    .wrap-search-icons
      label(for="form").label-search
        input(type="text", placeholder='Search icon').input-search#form
        img(src="./static/content/svg/lens.svg", alt="").icon-input-search
  section.wrapper-section
    .searh-list-icon#searh_list_icon