- 
 var pages = [
  {
   title: 'My online CV',
   url: 'https://javiluli.github.io/my-online-cv/',
  },
  {
   title: 'Buttons',
   url: 'https://javiluli.github.io/hover-animations-btn/',
  },
  {
   title: 'Checkbox',
   url: 'https://javiluli.github.io/custom-animated-checkbox/',
  },
  {
   title: 'GitHub',
   url: 'https://github.com/javiluli/icons-svg',
  }
 ]

ul.list-nav
 each page in pages
  li.item-list-nav
   a(href= page.url).link-item-list-nav= page.title
   