doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Repositiorio icons SVG
    link(rel="stylesheet", href="static/css/normalize.css")
    link(rel="stylesheet", href="static/css/font-Montserrat.css")
    link(rel="stylesheet", href="static/css/font-Confortaa.css")
  body
    section.section-main
    
      header
        h1.logo: a(href="index.html") Free icons SVG
        nav.main-nav
          include partials/menu
        spam.spam-header

      main.main
        section
          .wrapper-icons
            .wrap-search-icons
              label(for="form").label-search
                input(type="text", placeholder='Search icon...').input-search#form
                img(src="./static/content/svg/lens.svg", alt="").icon-nput-search
            .wrap-icons-grid
              section.searh-list-icon#searh_list_icon

    footer.main-footer
      .wrapper-footer
        include partials/menu
        p#textFooter.text-footer