doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="title" content="Icons SVG" class="next-head")
    meta(name="description" content="Repositorio de iconos SVG" class="next-head")
    meta(name="author" content="Javier Delgado")
    meta(name="keywords" content="HTML, PUG, CSS, SCSS, JavaScript")
    title Repositiorio icons SVG
    link(rel="stylesheet", href="static/css/normalize.css")
    link(rel="stylesheet", href="static/css/font-Montserrat.css")
    link(rel="stylesheet", href="static/css/font-Confortaa.css")
    link(rel="shortcut icon", href="static/content/svg/logo.svg", type="image/x-icon")
    link(rel="preconnect", href="//github.com")

  body
    #__next
      <!------------ Header ------------>
      include partials/header
      
      <!------------- Main ------------->
      include partials/main

      <!------------ Footer ------------>
      include partials/footer

      <!------ Button back to top ------>
      include partials/btn_back_top


