doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Repositiorio icons SVG
    link(rel="stylesheet", href="static/css/normalize.css")
    link(rel="stylesheet", href="static/css/font-Montserrat.css")
    link(rel="stylesheet", href="static/css/font-Confortaa.css")
  body
    section.section-main
      include partials/header
      main.main
        section
          .wrapper-icons
            .wrap-search-icons
              label(for="form").label-search
                input(type="text", placeholder='Search icon').input-search#form
                img(src="./static/content/svg/lens.svg", alt="").icon-input-search
            .wrap-icons-grid
              section.searh-list-icon#searh_list_icon

    footer.main-footer
      .wrapper-footer
        include partials/menu-footer
        p#textFooter.text-footer